<template>
  <div class="hello">
    <h1>{{msg}}</h1>
    <h2>HelloUser</h2>
  </div>
</template>

<script>
export default {
  name: 'HelloUser',
  data () {
    return {
      msg: 'Welcome USER to Your Vue.js App'
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
