<template>
  <div>
    <h4 v-if="info"> {{ info.text }}</h4>
    <h6 v-if="info"> {{ info.title }}</h6>
    <div>
      <input v-model="login" type="text" name="loginField" id="loginField">
    </div>
    <div>
      <input v-model="password" type="password" name="passwordField" id="passwordField">
    </div>
  </div>
</template>

<script>
const axios = require('axios');
var reqUrl = 'http://localhost:8081/notes/5c0568190c77e82f88438f7a';
export default {
  data () {
    return {
      login: '',
      password: '',
      info: null
    };
  },
  mounted () {
    let me = this;

    axios
      .post({
        'url': reqUrl,
        'auth': {
          'username': me.login,
          'password': me.password
        }
      })
      .then(response => {
        console.log(response.data);
        me.info = response.data;
      })
      .catch(error => (console.log(error)));
  }
};
</script>

<style>

</style>
